@import "icons";

/*
* Header styles
*/
.page-header {
  grid-row: 1;
  grid-column: 1/3;
  color: #ffffff;
  background: #e20074;
  display: flex;
  align-items: center;
  padding: 20px;

  // Heading
  &__heading {
    font-size: 2em;
    line-height: 1.16;
    margin: 0;

    // Logo
    &::before {
      @extend %icon;
      content: "logo";
      background: #fff;
      color: #e21274;
      padding: 4px 6px;
      font-size: 0.75em;
      margin-right: 11px;
    }
  }
}
