/*
* Icon styles
*/

// Icon font
@mixin icon-font {
  @font-face {
    font-family: "icons";
    src: url("/fonts/icons.ttf?l4c2v2") format("truetype"), url("/fonts/icons.woff?l4c2v2") format("woff"),
      url("/fonts/icons.svg?l4c2v2#icons") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
}

// Icon styles
%icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
