@import "icons";

/*
* Page menu styles
*/
.page-menu {
  grid-row: 2;
  grid-column: 1;
  border-right: 1px solid #e0e0e0;
  line-height: 1.125;
  padding: 11px 0 20px 4px;
  overflow: auto;

  // Menu line
  .page-menu__entry {
    padding: 9px 0 10px 20px;

    &:hover {
      background: #f8f8f8;
    }

    // Active styles
    &.is-active {
      font-weight: bold;
      position: relative;

      // Marker
      &:before {
        content: "";
        position: absolute;
        right: 100%;
        top: 0;
        bottom: 0;
        width: 4px;
        background: #e21274;
      }
    }
  }

  a {
    display: block;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  $selector: "li";
  // List indentation based on level
  @for $i from 1 to 5 {
    #{$selector} .page-menu__entry {
      padding-left: 20px * $i;
    }

    $selector: append($selector, #{" li"});
  }

  // Sub-menu expand button
  &__btn-expand {
    background: none;
    outline: none;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    line-height: inherit;
    cursor: pointer;

    // Icon
    &::after {
      @extend %icon;
      content: "drop";
      color: #e20074;
      font-size: 6px;
      margin-right: 15px;
    }

    &:not(.is-expanded) + ul {
      display: none;
    }

    &.is-expanded::after {
      transform: rotate(180deg);
      transform-origin: center center;
    }
  }
}
