/*
* Content quote style
*/
main blockquote {
  margin: 0;
  color: #999999;
  padding: 14px 50px 5px 19px;
  border-left: 4px solid #e0e0e0;
  border-radius: 4px;
  background: #f8f8f8;
}
