/*
* Content table styles
*/
main table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;

  thead {
    background: #f8f8f8;
    border-radius: 4px;
  }

  th {
    font-weight: bold;
  }

  th,
  td {
    text-align: left;
  }

  th {
    padding: 15px 20px;
  }

  td {
    padding: 10px 20px 15px;
  }

  tbody tr {
    border-bottom: 1px solid #e0e0e0;
  }
}
