<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ .Title }}</title>
	{{ with .Site.Params.description }}
	<meta name="description" content="{{ . }}">{{ end }}
	{{ with .Site.Params.author }}
	<meta name="author" content="{{ . }}">{{ end }}
	{{ $style := resources.Get "sass/styles.scss" | toCSS  | postCSS  }}
	<link rel="stylesheet" href="{{ $style.Permalink }}">
	{{ with .OutputFormats.Get "RSS" -}}
	{{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
	{{- end }}
</head>

<body>
	{{ partial "header" . }}
	{{ partial "menu" . }}
	{{ block "main" . }}{{ end }}
</body>

</html>